nav ul a {
    flex:auto;
    padding:10px;
    margin: 0 50px;
    background-color:lightseagreen;
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:1px solid black;
    text-align:center;
    color:WHITE;
    border-radius: 20px;
    text-decoration:none;
   
}

nav ul {
    text-align: center;
    
    margin-top: 100px;
}
